
*{
    box-sizing: border-box;
}

h1 {
    margin: 25% 0;
    width: 50%;
}

body{
    max-width: 950px;
    min-width: 500px;
    min-height: 500px;
    height: 60%;
    margin: 5% auto;
    display: flex;  
}

#main-container{
    margin: 0 5%;
   box-shadow: 3px 3px 3px rgba(101, 126, 252, 0.4);
   height: 27%;
}

.grid-container{
    display: grid;
    gap: 0px;
    margin: 0 auto;
    min-height: 300px;
    min-width: 300px;
    width: 50%;
    height: 100%;
    margin: 0;
    box-shadow: 3px 3px 3px rgba(101, 126, 252, 0.4);
    border: 1px solid black;
    border-radius: 3px;

}


.grid-child{
    border: 1px solid #000;
    margin: 0;
    padding: 0;
}


#button-container{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}

button{
    border: none;
    border-radius: 3px;
}

#clear, #rainbow, #white{
    width: 30%;
}

#clear{
    background-color: black;
    color: #c8c9cf;
}

#colour-div{
    margin-top: 5%;
}

#colour-label{
    display: block;
    margin: 1%;
}

#rainbow{
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); 
}

#section-dimensions{
  margin-top: 8%;
  border: none;
}


.label{
    display: block;
    margin-bottom: .5%;
    font-size: .8em;
}


button:hover, input:hover{
    box-shadow: 0 0 0 1px rgba(101, 126, 252, 0.4);
}
